body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.content-block {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-block h3 {
    margin-top: 0;
}

#progress {
    margin-bottom: 10px;
}

#progress-bar {
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
}

#progress-bar::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
}

#progress-bar::-webkit-progress-value {
    background-color: #7d9e4b;
    border-radius: 5px;
}

#progress-bar::-moz-progress-bar {
    background-color: #7d9e4b; 
    border-radius: 5px;
}